:root {
    --text-color: #212121;
    --accent-color: #0443FF;
    --accent-color-hover: #1a0bf3;
    --text-contacts-color: #757575;
    --main-background-color: #FFFFFF;
    --frame-background-color: #F5F4FA;
    --footer-background-color: #3C4043;
    --text-footer-color: rgba(246, 239, 239, 0.918);
    --border-color: #ECECEC; 
    --border: #AFB1B8;
    --input-coor:rgba(33, 33, 33, 0.2);
     }  