.main__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.43;
    color: var(--main-background-color);
      @media screen and (min-width:768px){
        margin-top: 150px;
        margin-bottom: 0;
        font-size: 70px;
        line-height: 101px;
      }
      @media screen and (min-width:1200px){
        margin-top: 180px;
        font-size: 78px;
        line-height: 112px;
      }
    }  
  .button{
    margin-top: 30px;
    padding:10px 32px ;
    min-width: 100px;
    font-family: inherit;
    background-color: var(--accent-color);
    font-size: 24px;
    line-height: 37px;
  
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--main-background-color);
    cursor: pointer;
    border-radius: 18px;
    border: transparent;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    &:hover,
    &:focus{
    background-color: var(--accent-color-hover);  
    }
    @media screen and (min-width:768px){
      margin-top: 70px;
    }
    @media screen and (min-width:1200px){
    margin-top: 200px; 
    min-width: 400px;
    font-weight: 400;
    font-size: 62px;
    line-height: 88px;
    }
  }
  
  .clinic_presentation {
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
  
    text-align: center;
    min-height: 300px;
    background-image:linear-gradient(
      to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58 ,0.4)),  
    url('/src/images/main_photo_small.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-width: 768px) {
      min-height: 600px;
      background-image:linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58 ,0.4)),  
          url('/src/images/main_photo.jpg'); 
    }
    @media screen and (min-width: 1200px) {
      min-height: 600px;
      background-image:linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58 ,0.4)),  
          url('/src/images/main_photo.jpg'); 
          min-height: 1000px;
          background-position-y: top;
    }
  }