.mobil{
    padding: 24px;
    text-align: center;
    &__title{
      font-size: 32px;
      line-height: 46px;
      color: var(--accent-color);
      margin-bottom: 30px;
      text-align: center;
      @media screen and (min-width: 1200px) {
        font-size: 48px;
        line-height: 69px;
     }
    }
   
    &__text{
      padding: 10px;
      margin-top: 28px;
      font-size: 20px;
      line-height: 29px;
      color: var( --text-color);
      @media screen and (min-width: 768px) {
        padding: 20px;
        margin-top: 0;
        text-align: left;
      }
      @media screen and (min-width: 1200px) {
        font-size: 28px;
        line-height: 40px;
      }
    }
    &__image{
      margin: 0 auto;
    }
    &__team{
      font-size: 24px;
      line-height: 29px;
      color: var( --text-color); 
    }
    &__team-text{
      font-size: 18px;
      line-height: 22px;
      color: var( --text-color); 
    }
    &__reviews-text{
      font-size: 20px;
      line-height: 29px;
      color: var( --text-color); 
      @media screen and (min-width: 768px) {
        text-align: left;;
        }
        @media screen and (min-width: 1200px) {
          margin-top: 12px;
          font-size: 28px;
          line-height: 40px;
        }
    }
    &__reviews-name{
      margin-bottom: 24px;
      margin-top: 8px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 600;
      @media screen and (min-width: 768px) {
        text-align: left;;
        }
        @media screen and (min-width: 1200px) {
          font-size: 22px;
          line-height: 31px;
        }
    }
  }
  .image-homePage{
    @media screen and (min-width: 768px) {
       width: 325px;
       height: 255px;
    }
    @media screen and (min-width: 1200px) {
      width: 550px;
      height: 450px;
   }
  }
  .tablet{
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  .flex{
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    }
  }  