.form{
  
  padding: 20px;
  text-align: center;
    @media screen and (min-width:768px){
      width: 70%; 
    padding: 30px 104px;
    }
    @media screen and (min-width:1200px){
    width: 50%;   
    padding: 50px 168px;
    }
}
.form__label{
  display: block;
  margin-bottom: 4px;

  font-size: 24px;
  line-height: 34px;
  text-align: left;
  letter-spacing: 0.01em;
  color: var(--text-contacts-color);
}
.form__input{
 
  width: 100%;
  height: 40px;

  border: 1px solid var(--input-coor);
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;

  transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
  border: 1px solid var(--accent-color);
  outline: 1px solid var(--accent-color);
  }
}
.form__comment{
  display: block;
  width: 100%;
  height: 120px;
  padding: 16px 12px ;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
  border: 1px solid var(--accent-color);
  outline: 1px solid var(--accent-color);
  }
}

.button--send{
  display: block;
  padding: 10px 55px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.form__text{
  width: 50%;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: var( --text-color);
    @media screen and (min-width:1200px){
    width: 40%;
    margin: 0 auto 40px;
    font-size: 28px;
    line-height: 40px;
    }
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__image{
  display: none;
    @media screen and (min-width:1200px){
    display: block;
    }
}